APP_ENV=development
APP_NAME=Cortex API
APP_VERSION=0.1.0
API_V1_PREFIX=/api/v1
FRONTEND_ORIGINS=["http://localhost:3000"]
DATABASE_URL=
MIGRATION_DATABASE_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
ADMIN_EMAILS=[]
